<div class="grid grid-cols-1 md:grid-cols-2 gap-6 pb-10">

<div class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 ">
    <h2 class="mb-2 mt-1 text-lg font-semibold text-gray-900 dark:text-white">Español</h2>
<ul class=" text-gray-500 list-disc list-inside dark:text-gray-400">
    <li>
        Nativo
    </li>
</ul>
<h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-7">Inglés</h2>
<ul class=" text-gray-500 list-disc list-inside dark:text-gray-400">
    <li>
        Avanzado (C1)
    </li>
</ul>
</div>

<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 ">
    <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Habilidades:</h2>
<ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
    <div class="flex flex-wrap gap-2 mb-4">
        <span
          class="text-xs font-semibold text-cyan-300 bg-cyan-900/60 py-1 px-3 rounded-full"
          >C/C++</span
        >
        <span
          class="text-xs font-semibold text-green-300 bg-green-900/60 py-1 px-3 rounded-full"
          >SQL/NoSQL</span
        >
        <span
          class="text-xs font-semibold text-purple-300 bg-purple-900/60 py-1 px-3 rounded-full"
          >Desarrollo Web</span
        >
        <span
          class="text-xs font-semibold text-orange-300 bg-orange-900/60 py-1 px-3 rounded-full"
          >Office365</span
        >
        <span
          class="text-xs font-semibold text-blue-300 bg-blue-900/60 py-1 px-3 rounded-full"
          >Python</span
        >
        <span
          class="text-xs font-semibold text-pink-300 bg-pink-900/60 py-1 px-3 rounded-full"
          >MATLAB</span
        >
        <span
          class="text-xs font-semibold text-gray-300 bg-gray-900/60 py-1 px-3 rounded-full"
          >Java</span
        >
        <span
          class="text-xs font-semibold text-yellow-300 bg-yellow-900/60 py-1 px-3 rounded-full"
          >Inteligencia Artificial</span
        >
      </div>
</ul>

</div>

</div>