---
import GitHub from "./icons/GitHub.astro"
import Web from "./icons/Web.astro"
import Badge from "./Badge.astro"
import mangifyImg from '../assets/Mangify.jpg';
import iotImg from '../assets/ESP32.png';
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <div
    class="bg-gray-900/50 border border-gray-700 rounded-lg overflow-hidden transition-transform hover:scale-[1.02]"
  >
    <img
      src={mangifyImg.src}
      alt="Screenshot del proyecto 1"
      class="w-full h-56 object-cover"
    />

    <div class="p-6">
      <h3 class="text-xl font-semibold text-white mb-2 flex items-center gap-2">
        MangifyWeb <Badge>Grupal</Badge>
      </h3>

      <p class="text-gray-400 text-base mb-4">
        Servicio diseñado para enriquecer la experiencia de lectura de mangas. Ofrece música ambiental contextual y herramientas para bloquear viñetas futuras, evitando spoilers.


      </p>

      <div class="flex flex-wrap gap-2 mb-4">
        <span
          class="text-xs font-semibold text-cyan-300 bg-cyan-900/60 py-1 px-3 rounded-full"
          >TypeScript</span
        >
        <span
          class="text-xs font-semibold text-green-300 bg-green-900/60 py-1 px-3 rounded-full"
          >React</span
        >
        <span
          class="text-xs font-semibold text-purple-300 bg-purple-900/60 py-1 px-3 rounded-full"
          >CSS y HTML</span
        >
      </div>

      <div class="flex gap-4">
        <a
          href="https://github.com/AlexMarambio/Mangify/tree/master"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center text-gray-300 hover:text-white font-medium"
          >
          <GitHub class="w-5 h-5" />
          <span class="ml-2">Código</span>
        </a>
        <a
        href="https://github.com/Knelo8/MangifyWeb/tree/902f4b233dcb91ef4a8ef4928618b56b4653b370"
        target="_blank"
        rel="noopener noreferrer"
          class="flex items-center text-gray-300 hover:text-white font-medium"
        >
          <Web class="size-7" />
          <span class="ml-2">Web</span>
        </a>
      </div>
    </div>
  </div>

  <div
    class="bg-gray-900/50 border border-gray-700 rounded-lg overflow-hidden transition-transform hover:scale-[1.02]"
  >
    <img
      src={iotImg.src}
      alt="Screenshot del proyecto 1"
      class="w-full h-56 object-cover"
    />

    <div class="p-6">
      <h3 class="text-xl font-semibold text-white mb-2 flex items-center gap-2">
        Sistema de Monitoreo Ambiental para Aulas <Badge>Grupal</Badge>
      </h3>

      <p class="text-gray-400 text-base mb-4">
        Dispositivo IoT diseñado para el monitoreo en tiempo real de condiciones ambientales en salas de clases (humedad, humo, luz y temperatura). Desarrollado para cumplir con normativas chilenas de salubridad.


      </p>

      <div class="flex flex-wrap gap-2 mb-4">
        <span
          class="text-xs font-semibold text-cyan-300 bg-cyan-900/60 py-1 px-3 rounded-full"
          >ESP32</span
        >
        <span
          class="text-xs font-semibold text-green-300 bg-green-900/60 py-1 px-3 rounded-full"
          >C/C++</span
        >
        <span
          class="text-xs font-semibold text-purple-300 bg-purple-900/60 py-1 px-3 rounded-full"
          >Sensores IoT</span
        >
      </div>

      <div class="flex gap-4">
        <a
          href="https://github.com/Knelo8/IoT-monitoreo-aulas"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center text-gray-300 hover:text-white font-medium"
          >
          <GitHub class="w-5 h-5" />
          <span class="ml-2">Código</span>
        </a>
      </div>
    </div>
  </div>

  <div
    class="bg-gray-900/50 border border-gray-700 rounded-lg overflow-hidden transition-transform hover:scale-[1.02]"
  >
    <img
      src="/src/assets/Mangify.jpg"
      alt="Screenshot del proyecto 1"
      class="w-full h-56 object-cover"
    />

    <div class="p-6">
      <h3 class="text-xl font-semibold text-white mb-2 flex items-center gap-2">
        MangifyWeb <Badge>Grupal</Badge>
      </h3>

      <p class="text-gray-400 text-base mb-4">
        Servicio diseñado para enriquecer la experiencia de lectura de mangas. Ofrece música ambiental contextual y herramientas para bloquear viñetas futuras, evitando spoilers.


      </p>

      <div class="flex flex-wrap gap-2 mb-4">
        <span
          class="text-xs font-semibold text-cyan-300 bg-cyan-900/60 py-1 px-3 rounded-full"
          >TypeScript</span
        >
        <span
          class="text-xs font-semibold text-green-300 bg-green-900/60 py-1 px-3 rounded-full"
          >React</span
        >
        <span
          class="text-xs font-semibold text-purple-300 bg-purple-900/60 py-1 px-3 rounded-full"
          >CSS y HTML</span
        >
      </div>

      <div class="flex gap-4">
        <a
          href="https://github.com/AlexMarambio/Mangify/tree/master"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center text-gray-300 hover:text-white font-medium"
          >
          <GitHub class="w-5 h-5" />
          <span class="ml-2">Código</span>
        </a>
        <a
        href="https://github.com/Knelo8/MangifyWeb/tree/902f4b233dcb91ef4a8ef4928618b56b4653b370"
        target="_blank"
        rel="noopener noreferrer"
          class="flex items-center text-gray-300 hover:text-white font-medium"
        >
          <Web class="size-7" />
          <span class="ml-2">Web</span>
        </a>
      </div>
    </div>
  </div>
</div>
